# Maven
target/
!target/allure-results/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEA
.idea/
*.iws
*.iml
*.ipr
*.ids
*.orig
atlassian-ide-plugin.xml
.shelf/


# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# System files
*.swp
*.swo

# Другие файлы сборки
out/
build/
.allure/